<html>
    <head>
        <title>
            <%= kk %>
        </title>
    </head>
    <body>
        <h1> Playground </h1>
        <ul>
            <% for(let i=0;i<10;i++){ %>
                <li>
                    <%= locals %>
                </li>    
                <%}%>
        </ul>
    </body>
</html>